body {
    display: flex;
    align-items: center;
    justify-content: center;
    

    flex-direction: column;

    margin-top: 10px;

    max-width: 250px;

    height: 80%;

    min-width: 100px;

    background-color: rebeccapurple;

    transform: translateY(-50%);

    cursor: pointer;
}